/* .two{
    /* margin-top: -150px;
    /* margin-left: 300px;    
}

.three{
    margin-top: -90px; 
    margin-left: 1000px;
}

.four{
    margin-top: -490px;
    margin-left: 900px;
}

.five{
    margin-top: -100px;
    margin-left: 600px;
}

.six{
    margin-top: -30p
}

.one{
    margin-top: -100px;
    margin-left: 300px;
} */

/* .one{
    margin-top: 100px;
    margin-left: 200px;
} */
/* .two{
    margin-top: -50px;
    margin-left: 100px;
     */
    


/* .three{
    margin-top: -400px;
    margin-left: 1000px;
}
.four{
    margin-top: 100px;
    margin-left: 190px;

}
.five{
    margin-top: -220px;
    margin-left: 1000px;
}
.six{
    margin-top: -220px;
    margin-left: 580px;
} */

.one{
    margin-top:80px;
    margin-left:300px ;
}
.two{
    margin-top:-225px;
    margin-left:600px;
}
.three{
    margin-top:-220px;
    margin-left:900px;
}
.four{
    margin-top:50px;
    margin-left:300px;
}
.five{
    margin-top:-225px;
    margin-left: 600px;
}
.six{
    margin-top:-227px;
    margin-left:900px;
} 